.button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.button-standard {
  background-color: rgb(0, 123, 255);
  color: white;
}

.button-standard:hover {
  background-color: rgb(0, 105, 217);
  cursor: pointer;
}

.button-danger {
  background-color: rgb(220, 53, 69);
  color: white;
}

.button-danger:hover {
  background-color: rgb(200, 35, 51);
  cursor: pointer;
}

.button-warning {
  background-color: rgb(255, 193, 7);
}

.button-warning:hover {
  background-color: rgb(224, 168, 0);
  cursor: pointer;
}
